body{   margin: 0;}

h1 {
     color: blue
     font-size: 40px;
     font-family: 'courier new';

     text-align:center;

}

         .container{
             background-color: chocolate;
         }
     .container h1 , h2 , p {  background-color: rgb(224, 159, 16);}
      
        
        
        
         .container2{
              background-color: crimson;
         }
p{font-size: 30px;}
div{ width: 40/ }